@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model dynamic
@{
    var id = (string)(Model?.SectionId ?? $"block-heading-{Guid.NewGuid():N}");
    var text = (string)(Model?.Text ?? "Heading");
    var level = (string)(Model?.Level ?? "h2"); // h1|h2|h3
    var align = (string)(Model?.Align ?? "left");
    var css = (string)(Model?.CssClass ?? "");
}
<section id="@id">
    @if (string.Equals(level, "h1", StringComparison.OrdinalIgnoreCase))
    {
        <h1 class="@css" style="text-align:@align">
            @PaladinHub.Infrastructure.SafeHtmlExtensions.SafeHtml((IHtmlHelper)Html, text)
        </h1>
    }
    else if (string.Equals(level, "h3", StringComparison.OrdinalIgnoreCase))
    {
        <h3 class="@css" style="text-align:@align">
            @PaladinHub.Infrastructure.SafeHtmlExtensions.SafeHtml((IHtmlHelper)Html, text)
        </h3>
    }
    else
    {
        <h2 class="@css" style="text-align:@align">
            @PaladinHub.Infrastructure.SafeHtmlExtensions.SafeHtml((IHtmlHelper)Html, text)
        </h2>
    }
</section>
