@model PaladinProject.ViewModels.TalentsViewModel
@using PaladinProject.Helpers

<link rel="stylesheet" href="~/css/general.css" />
@*<link rel="stylesheet" href="~/css/protection/protectionGear.css" />*@

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Protection Paladin Guide";
}


<body>
	<div class="outer-wrapper">
		<div class="page-container">
			<div class="main-wrapper">


				<h1>Protection Paladin Talent Builds</h1>

				<div class="separator-container">
					<img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
				</div>

				<section id="overview">
					<p>
						Explore the depths of the Protection Paladin Talent Tree, which has immense power and many customization options.
						In this Protection Paladin guide, we review all the different abilities and talents in Patch 11.1 & Season 2, including what they do and when to use them.
					</p>

					<h3>Sections Covered:</h3>
					<div class="section-buttons">
						<a href="#builds">Talent Builds</a>
						<a href="#hero-talents">Hero Talents</a>
						<a href="#rotation">Rotation</a>
						<a href="#gear">Gear</a>
						<a href="#leveling">Leveling</a>
						<a href="#abilities">Abilities & Talents</a>
						<a href="#stats">Stats</a>
						<a href="#consumables">Consumables</a>
						<a href="#addons">WA & Addons</a>
					</div>
				</section>


				<div class="separator-container">
					<img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
				</div>

				<h2 class="section-header">
					<img src="/images/icons/EyeOfKezan.jpg" alt="Trinkets Icon" class="section-icon">
					Best Trinkets for Holy Paladin - Season 2
				</h2>
				<p>
					Gear is one of the most important elements in WoW to strengthen your Holy Paladin, providing massive amounts of stats as well as armor, procs, and set bonuses.

					This guide will explain how to obtain the best gear for your Holy Paladin in Patch 11.1.5 & Season 2 and how to check if a piece is Best in Slot (BiS), an upgrade, or just bad.
					This guide will help you select the best pieces of gear from Dungeons and Raids in The War Within, whether they be weapons, trinkets, or armor.
				</p>

				<div class="section-title">Current Section :</div>
				<div class="section-grid">
					<a href="#overall-bis" class="section-cell">
						<span class="icon" style="background-image: url('/icons/bis.png');"></span>
						<span>Overall BiS</span>
					</a>
					<a href="#raid-mythic-bis" class="section-cell">
						<span class="icon" style="background-image: url('/icons/bis.png');"></span>
						<span>Raid / Mythic+ BiS</span>
					</a>
					<a href="#best-trinkets" class="section-cell">
						<span class="icon" style="background-image: url('/icons/trinket.png');"></span>
						<span>Best Trinkets</span>
					</a>
					<a href="#upgrade-priorities" class="section-cell">
						<span class="icon" style="background-image: url('/icons/upgrade.png');"></span>
						<span>Upgrade Priorities</span>
					</a>
					<a href="#cyrces-circlet" class="section-cell">
						<span class="icon" style="background-image: url('/icons/circlet.png');"></span>
						<span>Cyrce's Circlet</span>
					</a>
					<a href="#corruptions" class="section-cell">
						<span class="icon" style="background-image: url('/icons/corruption.png');"></span>
						<span>Corruptions</span>
					</a>
					<a href="#cartel-chip-usage" class="section-cell">
						<span class="icon" style="background-image: url('/icons/cartel.png');"></span>
						<span>Cartel Chip Usage</span>
					</a>
					<a href="#crafted-gear" class="section-cell">
						<span class="icon" style="background-image: url('/icons/crafted.png');"></span>
						<span>Crafted Gear</span>
					</a>
				</div>

				<div style="height: 30px;"></div>

				<div class="section-title">Other Sections :</div>
				<div class="section-grid">
					<a href="/bis-gear" class="section-cell">
						<span class="icon" style="background-image: url('/icons/bis.png');"></span>
						<span>BiS Gear</span>
					</a>
					<a href="/rotation" class="section-cell">
						<span class="icon" style="background-image: url('/icons/rotation.png');"></span>
						<span>Rotation</span>
					</a>
					<a href="/talent-builds" class="section-cell">
						<span class="icon" style="background-image: url('/icons/talentbuilds.png');"></span>
						<span>Talent Builds</span>
					</a>
					<a href="/consumables" class="section-cell">
						<span class="icon" style="background-image: url('/icons/consumables.png');"></span>
						<span>Consumables</span>
					</a>
					<a href="/stats" class="section-cell">
						<span class="icon" style="background-image: url('/icons/stats.png');"></span>
						<span>Stats</span>
					</a>
					<a href="/stats" class="section-cell">
						<span class="icon" style="background-image: url('/icons/stats.png');"></span>
						<span>Stats</span>
					</a>					<a href="/stats" class="section-cell">
						<span class="icon" style="background-image: url('/icons/stats.png');"></span>
						<span>Stats</span>
					</a>					<a href="/stats" class="section-cell">
						<span class="icon" style="background-image: url('/icons/stats.png');"></span>
						<span>Stats</span>
					</a>
				</div>
				<div style="height: 50px;"></div>

				<section id="gear-intro">
					<h2>
						<img src="/images/icons/EyeOfKezan.jpg" alt="Cartel Chip Icon" class="section-icon" style="text-align:center; color:#ff66cc;">
						RECOMMENDED GEAR FOR HOLY PALADIN IN THE WAR WITHIN SEASON 2
					</h2>

					<div class="gear-intro-section">
						<p style="font-size: 16px; line-height: 1.6;">
							With many different sources of gearing and loot scarcity in <strong>The War Within</strong>, targeting your absolute Best in Slot (BiS) gear isn’t entirely realistic;
							instead, we’ve created a Best in Slot list from the ideal Holy Paladin drops found in The War Within Season 2 from
							<a href="https://www.wowhead.com/guide/mythic-plus-dungeons/the-war-within-season-2/overview"
							   target="_blank"
							   rel="noopener noreferrer"
							   style="color:#ffc400; text-decoration: none;">
								Mythic+ Dungeons
							</a> and
							<a href="https://www.wowhead.com/guide/raids/liberation-of-undermine/overview"
							   target="_blank"
							   rel="noopener noreferrer"
							   style="color:#9bff9b; text-decoration: none;">
								Liberation of Undermine
							</a> to help you decide what to prioritize.
						</p>

						<p style="font-size: 16px; line-height: 1.6;">
							While raid drops are generally the most reliable way of getting high item level gear, many other items can be just as good, if not better,
							so you should reference the <strong>stat priorities for Holy Paladin</strong> to help determine your own BiS gear based on what is available to you.
							<img src="/images/icons/logo-64.svg" alt="Archon Icon" class="item-icon" />
							<a href="https://www.archon.gg/wow/builds/holy/paladin/mythic-plus/gear-and-tier-set/10/all-dungeons/this-week#gear-tables"
							   target="_blank"
							   rel="noopener noreferrer"
							   style="color:#cc99ff; text-decoration: none;">
								Archon
							</a> can be a helpful tool for seeing what alternative gear options exist if you can't get your hands on the best in slot.
						</p>



						<div class="content-columns">
							<div>
								<table>
									<thead>
										<tr>
											<th colspan="2">
												<h2 style="color:#ffaa33; margin: 0;">As Herald of the Sun:</h2>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>Raiding:</strong></td>
											<td>Intellect &gt; Haste = Critical Strike &gt; Mastery = Versatility</td>
										</tr>
										<tr>
											<td><strong>Mythic+:</strong></td>
											<td>Intellect &gt; Haste ⇒ Critical Strike ⇒ Versatility &gt; Mastery</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div>
								<table>
									<thead>
										<tr>
											<th colspan="2">
												<h2 style="color:#33ccff; margin: 0;">As Herald of the Sun:</h2>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><strong>Raiding:</strong></td>
											<td>Intellect &gt; Haste = Critical Strike &gt; Mastery = Versatility</td>
										</tr>
										<tr>
											<td><strong>Mythic+:</strong></td>
											<td>Intellect &gt; Haste = Critical Strike ⇒ Versatility &gt; Mastery</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>


						<p>
							Don’t neglect the value of <strong>Intellect</strong> – an increase in item level is almost always worth it compared to optimized secondary stats.
							This is especially true given how close our secondaries are in value.
						</p>

						<p>
							Our stats are close enough in value that I wouldn’t bother making different gear sets for each Hero Talent tree.
							With that said, it’s always recommended to use
							<a href="https://questionablyepic.com/live/" target="_blank" rel="noopener noreferrer" style="color:#66ccff; text-decoration: none;">
								Questionably Epic
							</a> to find the best upgrades for you.
						</p>
					</div>

				</section>

				<div class="separator-container">
					<img src="~/images/Separators/D4.png" alt="Separator 4" class="separator" />
				</div>

				<section id="bis-overall">
					<div class="bis-overall">
						<h2>
							<img src="/images/icons/inv_plate_raidpaladingoblin_d_01_helm.jpg" alt="Cartel Chip Icon" class="section-icon" style="text-align:center; color:#ff66cc;">

							Overall Holy Paladin Best in Slot Gear
						</h2>

						<p style="font-size: 16px; line-height: 1.6;">
							This list consists of gear from both
							<a href="https://www.wowhead.com/guide/mythic-plus-dungeons/the-war-within-season-2/overview"
							   target="_blank" rel="noopener noreferrer" style="color:#ffc400; text-decoration: none;">
								Mythic+
							</a> and
							<a href="https://www.wowhead.com/guide/raids/liberation-of-undermine/overview"
							   target="_blank" rel="noopener noreferrer" style="color:#9bff9b; text-decoration: none;">
								Liberation of Undermine
							</a>, and attempts to create a list of gear that will work well in both types of content.
							As always, <strong>you should not follow BiS lists blindly</strong> and use
							<a href="https://questionablyepic.com/live/"
							   target="_blank" rel="noopener noreferrer" style="color:#66ccff; text-decoration: none;">
								Questionably Epic
							</a> to ensure each item is an actual upgrade for you.
						</p>

						<table class="bis-table overall-table">
							<thead>
								<tr>
									<th>Slot</th>
									<th>Item</th>
									<th>Source</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Head</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_helm.jpg")" alt="Aureate Sentry’s Pledge" />
										<a href="https://www.wowhead.com/item=229244/aureate-sentrys-pledge?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Pledge</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/one-armed-bandit-boss-strategy" class="source-link" target="_blank">One-Armed Bandit</a></td>
								</tr>
								<tr>
									<td>Neck</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/StrappedRescue-keg.png")" alt="Strapped Rescue-Keg" />
										<a href="https://www.wowhead.com/item=221060/strapped-rescue-keg?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Strapped Rescue-Keg</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/cinderbrew-meadery-overview" class="source-link" target="_blank">Cinderbrew Meadery</a></td>
								</tr>
								<tr>
									<td>Shoulders</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_shoulder.jpg")" alt="Aureate Sentry’s Roaring Will" />
										<a href="https://www.wowhead.com/item=229242/aureate-sentrys-roaring-will?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Roaring Will</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/rik-reverb-boss-strategy-abilities" class="source-link" target="_blank">Rik Reverb</a></td>
								</tr>
								<tr>
									<td>Cloak</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/Test Pilot's Go-Pack.jpg")" alt="Test Pilot’s Go-Pack" />
										<a href="https://www.wowhead.com/item=228844/test-pilots-go-pack?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Test Pilot’s Go-Pack</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/sprocketmonger-boss-strategy" class="source-link" target="_blank">Sprocketmonger</a></td>
								</tr>
								<tr>
									<td>Chest</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_chest.jpg")" alt="Aureate Sentry’s Encasement" />
										<a href="https://www.wowhead.com/item=229247/aureate-sentrys-encasement?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Encasement</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/sprocketmonger-boss-strategy" class="source-link" target="_blank">Sprocketmonger</a></td>
								</tr>
								<tr>
									<td>Wrist</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/Revved-Up Vambraces.jpg")" alt="Revved-Up Vambraces" />
										<a href="https://www.wowhead.com/item=228868/revved-up-vambraces?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Revved-Up Vambraces</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/vexie-boss-strategy-abilities" class="source-link" target="_blank">Vexie</a></td>
								</tr>
								<tr>
									<td>Gloves</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_outdoorundermine_c_01_glove.jpg")" alt="Jumpstarter’s Scaffold-Scrapers" />
										<a href="https://www.wowhead.com/item=234504/jumpstarters-scaffold-scrapers?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Jumpstarter’s Scaffold-Scrapers</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/patch-11-1-operation-floodgate-dungeon-overview" class="source-link" target="_blank">Operation: Floodgate</a></td>
								</tr>
								<tr>
									<td>Belt</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/Venture Contractor's Floodlight.jpg")" alt="Venture Contractor’s Floodlight" />
										<a href="https://www.wowhead.com/item=234505/venture-contractors-floodlight?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Venture Contractor’s Floodlight</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/patch-11-1-operation-floodgate-dungeon-overview" class="source-link" target="_blank">Operation: Floodgate</a></td>
								</tr>
								<tr>
									<td>Legs</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_pant.jpg")" alt="Aureate Sentry’s Legguards" />
										<a href="https://www.wowhead.com/item=229243/aureate-sentrys-legguards?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Legguards</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/stix-bunkjunker-boss-strategy" class="source-link" target="_blank">Stix Bunkjunker</a></td>
								</tr>
								<tr>
									<td>Boots</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/Rik's Walkin' Boots.jpg")" alt="Rik’s Walkin’ Boots" />
										<a href="https://www.wowhead.com/item=228874/riks-walkin-boots?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Rik’s Walkin’ Boots</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/rik-reverb-boss-strategy-abilities" class="source-link" target="_blank">Rik Reverb</a></td>
								</tr>
								<tr>
									<td>Ring</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/TheJastorDiamond.png")" alt="The Jastor Diamond" />
										<a href="https://www.wowhead.com/item=231265/the-jastor-diamond?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">The Jastor Diamond</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/chrome-king-gallywix-boss-strategy" class="source-link" target="_blank">Chrome King Gallywix</a></td>
								</tr>
								<tr>
									<td>Ring</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/MiniatureRouletteWheel.png")" alt="Miniature Roulette Wheel" />
										<a href="https://www.wowhead.com/item=228843/miniature-roulette-wheel?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Miniature Roulette Wheel</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/one-armed-bandit-boss-strategy" class="source-link" target="_blank">One-Armed Bandit</a></td>
								</tr>
								<tr>
									<td>Trinket</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/EyeOfKezan.png")" alt="Eye of Kezan" />
										<a href="https://www.wowhead.com/item=230198/eye-of-kezan?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Eye of Kezan</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/chrome-king-gallywix-boss-strategy" class="source-link" target="_blank">Chrome King Gallywix</a></td>
								</tr>
								<tr>
									<td>Trinket</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/Misterpick-me-up.png")" alt="Mister Pick-Me-Up" />
										<a href="https://www.wowhead.com/item=230186/mister-pick-me-up?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Mister Pick-Me-Up</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/sprocketmonger-boss-strategy" class="source-link" target="_blank">Sprocketmonger</a></td>
								</tr>
								<tr>
									<td>Main Hand</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/BigEarner'sBludgeon.png")" alt="Big Earner’s Bludgeon" />
										<a href="https://www.wowhead.com/item=228901/big-earners-bludgeon?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Big Earner’s Bludgeon</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/mugzee-boss-strategy-abilities" class="source-link" target="_blank">Mug’zee, Heads of Security</a></td>
								</tr>
								<tr>
									<td>Shield</td>
									<td>
										<img class="item-icon" src="@Url.Content("~/images/itemIcons/TitanOfIndustry.png")" alt="Titan of Industry" />
										<a href="https://www.wowhead.com/item=228889/titan-of-industry?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Titan of Industry</a>
									</td>
									<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/chrome-king-gallywix-boss-strategy" class="source-link" target="_blank">Chrome King Gallywix</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

				<section id="bis-tabs">
					<div class="bis-tabs">
						<!-- Main Buttons -->
						<div class="tab-header">
							<button class="tab-button active" onclick="showTab('raid-tab', event)">Raid</button>
							<button class="tab-button" onclick="showTab('mythic-tab', event)">Mythic+</button>
						</div>

						<!-- RAID TAB CONTENT -->
						<div id="raid-tab" class="tab-content" style="display: block;">
							<h2>Best in Slot Gear from Liberation of Undermine for Holy Paladin</h2>
							<p>
								While <strong><span style="color:#9bff9b;">Liberation of Undermine</span></strong> raid items are more deterministically obtainable than Mythic+,
								there can usually be heavy competition for them. Always aim for the highest item level, as secondary stats are extremely close in value.
							</p>
							<table class="bis-table">
								<thead>
									<tr>
										<th>Slot</th>
										<th>Item</th>
										<th>Source</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Head</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_helm.jpg")" alt="Aureate Sentry’s Pledge" />
											<a href="https://www.wowhead.com/item=229244/aureate-sentrys-pledge?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Pledge</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/one-armed-bandit-boss-strategy" class="source-link" target="_blank">One-Armed Bandit</a></td>
									</tr>
									<tr>
										<td>Neck</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/StrappedRescue-keg.png")" alt="Gobfather's Gifted Bling" />
											<a href="https://www.wowhead.com/item=228842/gobfathers-gifted-bling?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Gobfather's Gifted Bling</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/mugzee-boss-strategy-abilities" class="source-link" target="_blank">Mug’zee, Heads of Security</a></td>
									</tr>
									<tr>
										<td>Shoulders</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_shoulder.jpg")" alt="Aureate Sentry’s Roaring Will" />
											<a href="https://www.wowhead.com/item=229242/aureate-sentrys-roaring-will?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Roaring Will</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/rik-reverb-boss-strategy-abilities" class="source-link" target="_blank">Rik Reverb</a></td>
									</tr>
									<tr>
										<td>Cloak</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/Test Pilot's Go-Pack.jpg")" alt="Test Pilot’s Go-Pack" />
											<a href="https://www.wowhead.com/item=228844/test-pilots-go-pack?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Test Pilot’s Go-Pack</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/sprocketmonger-boss-strategy" class="source-link" target="_blank">Sprocketmonger</a></td>
									</tr>
									<tr>
										<td>Chest</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_chest.jpg")" alt="Aureate Sentry’s Encasement" />
											<a href="https://www.wowhead.com/item=229247/aureate-sentrys-encasement?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Encasement</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/sprocketmonger-boss-strategy" class="source-link" target="_blank">Sprocketmonger</a></td>
									</tr>
									<tr>
										<td>Wrist</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/Revved-Up Vambraces.jpg")" alt="Revved-Up Vambraces" />
											<a href="https://www.wowhead.com/item=228868/revved-up-vambraces?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Revved-Up Vambraces</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/vexie-boss-strategy-abilities" class="source-link" target="_blank">Vexie</a></td>
									</tr>
									<tr>
										<td>Gloves</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_glove_plate_raidwarriorgoblin_d_01.jpg")" alt="Dumpmech Compactors" />
											<a href="https://www.wowhead.com/item=228849/dumpmech-compactors?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Dumpmech Compactors</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/stix-bunkjunker-boss-strategy" class="source-link" target="_blank">Stix Bunkjunker</a></td>
									</tr>
									<tr>
										<td>Belt</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_belt.jpg")" alt="Coin-Operated Girdle" />
											<a href="https://www.wowhead.com/item=228886/coin-operated-girdle?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Coin-Operated Girdle</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/one-armed-bandit-boss-strategy" class="source-link" target="_blank">One-Armed Bandit</a></td>
									</tr>
									<tr>
										<td>Legs</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_pant.jpg")" alt="Aureate Sentry’s Legguards" />
											<a href="https://www.wowhead.com/item=229243/aureate-sentrys-legguards?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Legguards</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/stix-bunkjunker-boss-strategy" class="source-link" target="_blank">Stix Bunkjunker</a></td>
									</tr>
									<tr>
										<td>Boots</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/Rik's Walkin' Boots.jpg")" alt="Rik’s Walkin’ Boots" />
											<a href="https://www.wowhead.com/item=228874/riks-walkin-boots?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Rik’s Walkin’ Boots</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/rik-reverb-boss-strategy-abilities" class="source-link" target="_blank">Rik Reverb</a></td>
									</tr>
									<tr>
										<td>Ring</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/TheJastorDiamond.png")" alt="The Jastor Diamond" />
											<a href="https://www.wowhead.com/item=231265/the-jastor-diamond?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">The Jastor Diamond</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/chrome-king-gallywix-boss-strategy" class="source-link" target="_blank">Chrome King Gallywix</a></td>
									</tr>
									<tr>
										<td>Ring</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/MiniatureRouletteWheel.png")" alt="Miniature Roulette Wheel" />
											<a href="https://www.wowhead.com/item=228843/miniature-roulette-wheel?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Miniature Roulette Wheel</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/one-armed-bandit-boss-strategy" class="source-link" target="_blank">One-Armed Bandit</a></td>
									</tr>
									<tr>
										<td>Trinket</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/EyeOfKezan.png")" alt="Eye of Kezan" />
											<a href="https://www.wowhead.com/item=230198/eye-of-kezan?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Eye of Kezan</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/chrome-king-gallywix-boss-strategy" class="source-link" target="_blank">Chrome King Gallywix</a></td>
									</tr>
									<tr>
										<td>Trinket</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/Misterpick-me-up.png")" alt="Mister Pick-Me-Up" />
											<a href="https://www.wowhead.com/item=230186/mister-pick-me-up?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Mister Pick-Me-Up</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/sprocketmonger-boss-strategy" class="source-link" target="_blank">Sprocketmonger</a></td>
									</tr>
									<tr>
										<td>Main Hand</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/BigEarner'sBludgeon.png")" alt="Big Earner’s Bludgeon" />
											<a href="https://www.wowhead.com/item=228901/big-earners-bludgeon?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Big Earner’s Bludgeon</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/mugzee-boss-strategy-abilities" class="source-link" target="_blank">Mug’zee, Heads of Security</a></td>
									</tr>
									<tr>
										<td>Shield</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/TitanOfIndustry.png")" alt="Titan of Industry" />
											<a href="https://www.wowhead.com/item=228889/titan-of-industry?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Titan of Industry</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/chrome-king-gallywix-boss-strategy" class="source-link" target="_blank">Chrome King Gallywix</a></td>
									</tr>
								</tbody>
							</table>
						</div>

						<!-- MYTHIC+ TAB CONTENT -->
						<div id="mythic-tab" class="tab-content" style="display: none;">
							<h2>Best in Slot Gear from Mythic+ for Holy Paladin</h2>
							<p>
								Use <strong><a href="https://questionablyepic.com/live/" style="color:#9bff9b;" target="_blank" rel="noopener noreferrer">Questionably Epic</a></strong> to verify upgrades. This Mythic+ BiS list focuses on healing-centric dungeons. Stat value can vary per build.
							</p>
							<table class="bis-table">
								<thead>
									<tr>
										<th>Slot</th>
										<th>Item</th>
										<th>Source</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Head</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_helm.jpg")" alt="Aureate Sentry’s Pledge" />
											<a href="https://www.wowhead.com/item=229244/aureate-sentrys-pledge?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Pledge</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/one-armed-bandit-boss-strategy" class="source-link" target="_blank">One-Armed Bandit</a></td>
									</tr>
									<tr>
										<td>Neck</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/StrappedRescue-keg.png")" alt="Strapped Rescue-Keg" />
											<a href="https://www.wowhead.com/item=221060/strapped-rescue-keg?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Strapped Rescue-Keg</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/cinderbrew-meadery-overview" class="source-link" target="_blank">Cinderbrew Meadery</a></td>
									</tr>
									<tr>
										<td>Shoulders</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_shoulder.jpg")" alt="Aureate Sentry’s Roaring Will" />
											<a href="https://www.wowhead.com/item=229242/aureate-sentrys-roaring-will?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Roaring Will</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/rik-reverb-boss-strategy-abilities" class="source-link" target="_blank">Rik Reverb</a></td>
									</tr>
									<tr>
										<td>Cloak</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_bracer_plate_earthendungeon_c_01.jpg")" alt="Cloak of Questionable Intent" />
											<a href="https://www.wowhead.com/item=159287/cloak-of-questionable-intent?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Cloak of Questionable Intent</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/mythic-plus-dungeons/the-war-within-season-2/the-motherlode" class="source-link" target="_blank">The MOTHERLODE!!</a></td>
									</tr>
									<tr>
										<td>Chest</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_chest_plate_earthendungeon_c_01.jpg")" alt="Slashproof Business Plate" />
											<a href="https://www.wowhead.com/item=221069/slashproof-business-plate?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Slashproof Business Plate</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/cinderbrew-meadery-overview" class="source-link" target="_blank">Cinderbrew Meadery</a></td>
									</tr>
									<tr>
										<td>Wrist</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_bracer_plate_earthendungeon_c_01.jpg")" alt="Fuzzy Cindercuffs" />
											<a href="https://www.wowhead.com/item=221064/fuzzy-cindercuffs?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Fuzzy Cindercuffs</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/cinderbrew-meadery-overview" class="source-link" target="_blank">Cinderbrew Meadery</a></td>
									</tr>
									<tr>
										<td>Gloves</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_glove.jpg")" alt="Aureate Sentry's Gauntlets" />
											<a href="https://www.wowhead.com/item=229245/aureate-sentrys-gauntlets?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry's Gauntlets</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/cauldron-of-carnage-boss-strategy" class="source-link" target="_blank">Cauldron of Carnage</a></td>
									</tr>
									<tr>
										<td>Belt</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/Venture Contractor's Floodlight.jpg")" alt="Venture Contractor’s Floodlight" />
											<a href="https://www.wowhead.com/item=234505/venture-contractors-floodlight?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Venture Contractor’s Floodlight</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/patch-11-1-operation-floodgate-dungeon-overview" class="source-link" target="_blank">Operation: Floodgate</a></td>
									</tr>
									<tr>
										<td>Legs</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_plate_raidpaladingoblin_d_01_pant.jpg")" alt="Aureate Sentry’s Legguards" />
											<a href="https://www.wowhead.com/item=229243/aureate-sentrys-legguards?bonus=7981:12042:5878:11996" class="item-link q3" target="_blank">Aureate Sentry’s Legguards</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/raids/liberation-of-undermine/stix-bunkjunker-boss-strategy" class="source-link" target="_blank">Stix Bunkjunker</a></td>
									</tr>
									<tr>
										<td>Boots</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_boot_plate_zandalardungeon_c_01.jpg")" alt="Sabatons of Rampaging Elements" />
											<a href="https://www.wowhead.com/item=159679/sabatons-of-rampaging-elements?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Sabatons of Rampaging Elements</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/mythic-plus-dungeons/the-war-within-season-2/the-motherlode" class="source-link" target="_blank">The MOTHERLODE!!</a></td>
									</tr>
									<tr>
										<td>Ring</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_11_0_earthen_earthenring_color2.jpg")" alt="Wick's Golden Loop" />
											<a href="https://www.wowhead.com/item=221099/wicks-golden-loop?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Wick's Golden Loop</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/darkflame-cleft-overview" class="source-link" target="_blank">Darkflame Cleft</a></td>

									</tr>
									<tr>
										<td>Ring</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_ring_maldraxxus_01_red.jpg")" alt="Bloodoath Signet" />
											<a href="https://www.wowhead.com/item=178871/bloodoath-signet?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Bloodoath Signet</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/mythic-plus-dungeons/the-war-within-season-2/theater-of-pain" class="source-link" target="_blank">Theater of Pain</a></td>
									</tr>
									<tr>
										<td>Trinket</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/Signetofthepriory.png")" alt="Signet of the Priory" />
											<a href="https://www.wowhead.com/item=219308/signet-of-the-priory?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Signet of the Priory</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/priory-of-the-sacred-flame-overview" class="source-link" target="_blank">Priory of the Sacred Flame</a></td>
									</tr>
									<tr>
										<td>Trinket</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_misc_candlekobold_color1.jpg")" alt="Carved Blazikon Wax" />
											<a href="https://www.wowhead.com/item=219305/carved-blazikon-wax?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Carved Blazikon Wax</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/darkflame-cleft-overview" class="source-link" target="_blank">Darkflame Cleft</a></td>
									</tr>
									<tr>
										<td>Main Hand</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_mace_1h_enprofession_c_01.jpg")" alt="Electrifying Cognitive Amplifier" />
											<a href="https://www.wowhead.com/item=168955/electrifying-cognitive-amplifier?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Electrifying Cognitive Amplifier</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/mythic-plus-dungeons/the-war-within-season-2/operation-mechagon-workshop" class="source-link" target="_blank">Operation: Mechagon</a></td>
									</tr>
									<tr>
										<td>Shield</td>
										<td>
											<img class="item-icon" src="@Url.Content("~/images/itemIcons/inv_shield_1h_earthendungeon_c_02.jpg")" alt="Galebreaker Bulwark" />
											<a href="https://www.wowhead.com/item=221045/galebreaker-bulwark?bonus=657:12042:5878:7981:11996" class="item-link q3" target="_blank">Galebreaker Bulwark</a>
										</td>
										<td><a href="https://www.wowhead.com/guide/the-war-within/dungeons/the-rookery-overview" class="source-link" target="_blank">The Rookery</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</section>

				<!-- Tab Script -->
				<script>
					function showTab(tabId, event) {
						const tabs = document.querySelectorAll(".bis-tabs .tab-content");
						const buttons = document.querySelectorAll(".bis-tabs .tab-button");

						tabs.forEach(tab => tab.style.display = "none");
						buttons.forEach(btn => btn.classList.remove("active"));

						const activeTab = document.getElementById(tabId);
						if (activeTab) {
							activeTab.style.display = "block";
							event.target.classList.add("active");
						}
					}
				</script>

				<div class="separator-container">
					<img src="~/images/Separators/D1.png" alt="Separator 1" class="separator" />
				</div>

				<section id="trinkets">
					<h2 class="section-header">
						<img src="/images/icons/EyeOfKezan.jpg" alt="Trinkets Icon" class="section-icon">
						Best Trinkets for Holy Paladin - Season 2
					</h2>

					<p>Holy Paladins generally prefer using passive stat stick trinkets, though as Herald of the Sun, a 2-minute cooldown trinket to use with your strong burst healing during  Avenging Wrath can also be a great option.</p>

					<div class="tier-list">

						<!-- S TIER -->
						<div class="tier-row">
							<div class="tier-label tier-S">S</div>
							<div class="trinket-icons">
								<div class="trinket">
									<img src="/images/itemIcons/EyeOfKezan.jpg" alt="Eye of Kezan">
									<div class="trinket-name">Eye of Kezan</div>
								</div>
								<div class="trinket">
									<img src="/images/itemIcons/MisterPick-Me-Up.jpg" alt="Mister Pick-Me-Up">
									<div class="trinket-name">Mister Pick-Me-Up</div>
								</div>
							</div>
						</div>
					</div>

					<!-- A TIER -->
					<div class="tier-row">
						<div class="tier-label tier-A">A</div>
						<div class="trinket-icons">
							<div class="trinket">
								<img src="/images/itemIcons/Mug'sMoxieJug.jpg" alt="Mug's Moxie Jug">
								<div class="trinket-name">Mug's Moxie Jug</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Reverbradio.png" alt="Reverb Radio">
								<div class="trinket-name">Reverb Radio</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/CarvedBlazikonWax.jpg" alt="Carved Blazikon Wax">
								<div class="trinket-name">Blazikon Wax</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/SignetOfThePriory.jpg" alt="Signet of the Priory">
								<div class="trinket-name">Signet of the Priory</div>
							</div>

							<div class="trinket">
								<img src="/images/itemIcons/AlgarialchemistStone.png" alt="Algari Alchemist Stone">
								<div class="trinket-name">Algari Alchemist Stone</div>
							</div>

							<div class="trinket">
								<img src="/images/itemIcons/SoullettingRuby.jpg" alt="Soulletting Ruby">
								<div class="trinket-name">Soulletting Ruby</div>
							</div>
						</div>
					</div>

					<!-- B TIER -->
					<div class="tier-row">
						<div class="tier-label tier-B">B</div>
						<div class="trinket-icons">
							<div class="trinket">
								<img src="/images/itemIcons/Unstable Power Suit Core.jpg" alt="Unstable Power Suit Core">
								<div class="trinket-name">Unstable Power Suit Core</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Funhouse Lens.png" alt="Funhouse Lens">
								<div class="trinket-name">Funhouse Lens</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/HouseOfCards.jpg" alt="House of Cards">
								<div class="trinket-name">House of Cards</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Entropic Skardyn Core.jpg" alt="Entropic Skardyn Core">
								<div class="trinket-name">Entropic Skardyn Core</div>
							</div>
						</div>
					</div>

					<!-- C TIER -->
					<div class="tier-row">
						<div class="tier-label tier-C">C</div>
						<div class="trinket-icons">
							<div class="trinket">
								<img src="/images/itemIcons/Sigil of Algari Concordance.jpg" alt="Sigil of Algari Concordance">
								<div class="trinket-name">Sigil of Algari Concordance</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Darkfuse Medichopper.jpg" alt="Darkfuse Medichopper">
								<div class="trinket-name">Darkfuse Medichopper</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Burin of the Candle King.jpg" alt="Burin of the Candle King">
								<div class="trinket-name">Burin of the Candle King</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Synergistic Brewterializer.jpg" alt="Synergistic Brewtializer">
								<div class="trinket-name">Synergistic Brewtializer</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Vial of Spectral Essence.jpg" alt="Vial of Spectral Essence">
								<div class="trinket-name">Vial of Spectral Essence</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Remnant of Darkness.jpg" alt="Remnant of Darkness">
								<div class="trinket-name">Remnant of Darkness</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/Ingenious Mana Battery.jpg" alt="Ingenious Mana Battery">
								<div class="trinket-name">Ingenious Mana Battery</div>
							</div>
							<div class="trinket">
								<img src="/images/itemIcons/GallagioBottleService.jpg" alt="Gallagio Bottle Service">
								<div class="trinket-name">Gallagio Bottle Service</div>
							</div>
						</div>
					</div>
				</section>

				<div class="separator-container">
					<img src="~/images/Separators/D1.png" alt="Separator 1" class="separator" />
				</div>

				<section id="best-items-to-upgrade">
					<h2 class="section-header">
						<img src="/images/icons/inv_crestupgrade_undermine_gilded.jpg" alt="Upgrade Items Icon" class="section-icon">
						Best Items to Upgrade for Holy Paladin
					</h2>
					<p>
						Completing endgame activities in The War Within will award you with Undermine Crests and Valorstones.
						You can use these currencies to upgrade items you obtain to their maximum potential using the Item Level Upgrade System.
						Due to the more powerful items requiring the limited currency of Crests on a weekly lockout, this means your decision making early on can be difficult.
						In general, you want to prioritize items you've obtained at the highest upgrade track you can obtain, with the following criteria to decide on the item:
					</p>

					<div style="font-family: sans-serif; color: #ccc;">
						<p>
							Completing endgame activities in <em>The War Within</em> will award you with
							<strong>Undermine Crests</strong> and <strong>Valorstones</strong>. You can use these currencies
							to upgrade items you obtain to their maximum potential using the
							<strong style="color: #ffc100;">Item Level Upgrade System</strong>.
							Due to the more powerful items requiring the limited currency of Crests on a weekly lockout,
							this means your decision making early on can be difficult. In general, you want to prioritize
							items you’ve obtained at the highest upgrade track you can obtain, with the following criteria
							to decide on the item:
						</p>

						<ol style="line-height: 1.8; padding-left: 20px;">
							<li>
								<strong style="color:#b4e200;">
									Weapon ▸
								</strong> Weapons will always be your best item to prioritize getting to a high item level.<br>
								However, since you can also craft weapons and may choose this option early on, it might be
								better to focus on upgrading strong trinkets first.<br>
								<strong>Do not upgrade weapons if you're planning on crafting one!</strong>
							</li>
							<li>
								<strong style="color:#ff66cc;">
									Strong Trinkets ▸
								</strong> Good trinkets are always great to upgrade, as they scale well with item level and typically
								won’t be replaced often.


							</li>
							<li>
								<strong style="color:#33ccff;">
									Shield, then Lowest Item Level Pieces ▸
								</strong> Your shield is the next best upgrade after weapons and trinkets. After that, prioritize
								upgrading your lowest item level pieces—focusing on gear on the highest upgrade track
								available to you.

							</li>
						</ol>
					</div>


				</section>

				<div class="separator-container">
					<img src="~/images/Separators/D1.png" alt="Separator 1" class="separator" />
				</div>

				<section id="cyrces-circlet">
					<h2 class="section-header">
						<img src="/images/icons/Cyrce's Circlet.jpg" alt="Circlet Icon" class="section-icon">
						Cyrce's Circlet for Holy Paladin
					</h2>

					<p>
						Patch 11.0.7 introduced
						<img src="/images/icons/Cyrce's Circlet.jpg" alt="Circlet Icon" class="item-icon" />
						<a href="https://www.wowhead.com/guide/the-war-within/patch-11-0-7-cyrces-circlet-customizable-ring" class="item epic" target="_blank" rel="noopener noreferrer">
							Cyrce's Circlet
						</a>, a highly customizable and upgradable ring.
					</p>

					<h3 class="section-title">
						<img src="/images/itemIcons/inv_siren_isle_singing_citrine_prismatic.jpg" alt="Embellishment Icon" class="section-icon small-icon">
						When to Replace Your Cyrce's Circlet in Season 2?
					</h3>

					<p>
						As a Holy Paladin,
						<img src="/images/icons/Cyrce's Circlet.jpg" alt="Circlet Icon" class="item-icon" />
						<a href="https://www.wowhead.com/guide/the-war-within/patch-11-0-7-cyrces-circlet-customizable-ring" class="item epic" target="_blank" rel="noopener noreferrer">
							Cyrce's Circlet
						</a> remains competitive until you acquire another ring at or above item level <strong>672</strong>.
						The tipping point depends heavily on your <strong>Mastery</strong> due to how well
						<img src="/images/itemIcons/fathomdweller-icon.jpg" alt="Fathomdweller Icon" class="item-icon" />
						<a href="https://www.wowhead.com/item=228639/fathomdwellers-runed-citrine" class="item epic" target="_blank">
							Fathomdweller's Runed Citrine
						</a> scales.
					</p>

					<h3 class="section-title">
						<img src="/images/itemIcons/inv_siren_isle_blessed_citrine_red.jpg" alt="Embellishment Icon" class="section-icon small-icon">
						Best Citrine Gems for Holy Paladin
					</h3>

					<p>
						This is the optimal gem setup in your
						<img src="/images/itemIcons/Cyrce's Circlet.jpg" alt="Circlet Icon" class="item-icon" />
						<a href="https://www.wowhead.com/guide/the-war-within/patch-11-0-7-cyrces-circlet-customizable-ring" class="item epic" target="_blank" rel="noopener noreferrer">
							Cyrce's Circlet
						</a> for both raids and Mythic+:
					</p>

					<ul class="gem-list">
						<li>
							<strong style="color:#f0da69;">Singing Thunder Citrine:</strong>
							<img src="/images/itemIcons/stormbringer-icon.jpg" alt="Stormbringer Icon" class="item-icon" />
							<a href="https://www.wowhead.com/item=228638/stormbringers-runed-citrine" class="item epic" target="_blank">
								Stormbringer's Runed Citrine
							</a>
						</li>
						<li>
							<strong style="color:#69ccf0;">Singing Sea Citrine:</strong>
							<img src="/images/itemIcons/fathomdweller-icon.jpg" alt="Fathomdweller Icon" class="item-icon" />
							<a href="https://www.wowhead.com/item=228639/fathomdwellers-runed-citrine" class="item epic" target="_blank">
								Fathomdweller's Runed Citrine
							</a>
						</li>
						<li>
							<strong style="color:#f0788a;">Singing Wind Citrine:</strong>
							<img src="/images/itemIcons/windsinger-icon.jpg" alt="Windsinger Icon" class="item-icon" />
							<a href="https://www.wowhead.com/item=228640/windsingers-runed-citrine" class="item epic" target="_blank">
								Windsinger's Runed Citrine
							</a>
						</li>
					</ul>
				</section>


				<div class="separator-container">
					<img src="~/images/Separators/D1.png" alt="Separator 1" class="separator" />
				</div>

				<section id="corruptions">
					<h2 class="section-header">
						<img src="/images/icons/inv_eyeofnzothpet.jpg" alt="Corruption Icon" class="section-icon">
						Corruptions for Holy Paladin
					</h2>

					<p>
						Corruptions return in <strong>The War Within Season 2</strong>, empowering players during <strong>Patches 11.1.5 and 11.1.7</strong> via a new helm enchant system.
					</p>

					<p>
						For <strong>Holy Paladins</strong>, the best — and only worthwhile — corruption is:
					</p>

					<ul style="list-style: none; padding-left: 0;">
						<li>
							<img src="/images/icons/inv_inscription_majorglyph20.jpg" alt="Void Ritual Icon" class="item-icon" />
							<a href="https://www.wowhead.com/item=239095/greater-rune-of-the-void-ritual"
							   target="_blank"
							   rel="noopener noreferrer"
							   class="item epic">
								Greater Rune of the Void Ritual
							</a> – This enchant is the only one that provides a direct <em>healing increase</em>, making it the clear choice for all content.
						</li>
					</ul>

					<p>
						Other corruption effects may offer situational utility, but none compete with Void Ritual in terms of raw healing performance.
					</p>
				</section>

				<div class="separator-container">
					<img src="~/images/Separators/D1.png" alt="Separator 1" class="separator" />
				</div>

				<section id="cartel-chip">
					<h2 class="section-header">
						<img src="/images/icons/inv_misc_curiouscoin.jpg" alt="Cartel Chip Icon" class="section-icon">
						Spending Puzzling Cartel Chip as a Holy Paladin
					</h2>

					<p>
						<img src="/images/icons/inv_misc_curiouscoin.jpg" alt="Puzzling Cartel Chip Icon" class="item-icon">
						<a href="https://www.wowhead.com/item=237502/puzzling-cartel-chip" target="_blank" class="item epic">Puzzling Cartel Chips</a> (commonly called Dinars) allow you to purchase specific raid items you’ve unlocked by defeating the relevant boss. These items can be upgraded all the way to <strong>Myth track</strong> if you’ve cleared the content.
					</p>


					<p>
						Use this wisely — spending a Dinar on a <em>Hero track</em> item feels bad unless you’re absolutely sure you won’t reach Mythic difficulty for that item.
					</p>

					<h3 class="section-title">
						<img src="/images/icons/inv_misc_curiouscoin.jpg" alt="Gem Icon" class="section-icon small-icon">
						Recommended Purchases (Myth Track Priority)
					</h3>

					<ol class="crafting-order-list">
						<li>
							<img src="/images/itemIcons/Misterpick-me-up.png" alt="Mister Pick-Me-Up Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=230186/mister-pick-me-up" target="_blank" class="item epic">Mister Pick-Me-Up</a> – Versatile trinket, excellent across all content.
						</li>
						<li>
							<img src="/images/itemIcons/TheJastorDiamond.png" alt="Jastor Diamond Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=231265/the-jastor-diamond" target="_blank" class="item epic">The Jastor Diamond</a> – Solid ring with high performance and universal value.
						</li>
						<li>
							<img src="/images/itemIcons/EyeOfKezan.png" alt="Eye of Kezan Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=230198/eye-of-kezan" target="_blank" class="item epic">Eye of Kezan</a> – Excellent in raid on later bosses, weaker in early encounters and Mythic+.
						</li>
					</ol>

					<h2 class="section-header">
						<img src="/images/icons/inv_misc_curiouscoin.jpg" alt="Gadget Icon" class="section-icon small-icon">
						Other Viable Picks
					</h2>

					<ol class="crafting-order-list">
						<li>
							<img src="/images/itemIcons/Mug'sMoxieJug.jpg" alt="Mug's Moxie Jug Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=230192/mugs-moxie-jug" target="_blank" class="item epic">Mug's Moxie Jug</a> – Good burst trinket if paired with cooldowns.
						</li>
						<li>
							<img src="/images/itemIcons/Reverbradio.png" alt="Reverb Radio Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=230194/reverb-radio" target="_blank" class="item epic">Reverb Radio</a> – Situational but functional.
						</li>
						<li>
							<img src="/images/itemIcons/CarvedBlazikonWax.jpg" alt="Blazikon Wax Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=219305/carved-blazikon-wax" target="_blank" class="item epic">Carved Blazikon Wax</a> – Passive stat stick, decent value.
						</li>
						<li>
							<img src="/images/itemIcons/SignetOfThePriory.jpg" alt="Signet of the Priory Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=219308/signet-of-the-priory" target="_blank" class="item epic">Signet of the Priory</a> – Alternative ring for Mastery stacking builds.
						</li>
					</ol>

					<h3 class="section-title">
						<img src="/images/itemIcons/ability_racial_etherealconnection.jpg" alt="Low Priority Icon" class="section-icon small-icon">
						Low Priority or Cosmetic Picks
					</h3>


					<ol class="crafting-order-list">
						<li>
							<img src="/images/itemIcons/BigEarner'sBludgeon.png" alt="Big Earner Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=228901/big-earners-bludgeon" target="_blank" class="item epic">Big Earner's Bludgeon</a> – Only worth buying if you lack a max item level weapon.
						</li>
						<li>
							<img src="/images/itemIcons/TitanOfIndustry.png" alt="Titan Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=228889/titan-of-industry" target="_blank" class="item epic">Titan of Industry</a> – Similar case; skip it if you already have better from crafting or drops.
						</li>
					</ol>

					<p>
						<strong>Pro Tip:</strong> If you're planning to clear more of the raid soon, save your Chips until you unlock the ability to purchase Mythic versions of the best trinkets or weapons.
					</p>
				</section>

				<div class="separator-container">
					<img src="~/images/Separators/D1.png" alt="Separator 1" class="separator" />
				</div>

				<section id="best-items-to-upgrade">
					<h2 class="section-title">
						<img src="/images/icons/inv_spark_whole_orange (1).jpg" alt="Crafted Gear Icon" class="section-icon">
						Best Crafted Gear for Holy Paladin
					</h2>

					<section>
						<h3 class="section-title">
							<img src="/images/itemIcons/ui_profession_blacksmithing.jpg" alt="Crafting Icon" class="section-icon small-icon">
							Recommended Crafting Order
						</h3>

						<p>
							Here is the best crafting order for <span style="color:#ff80b3;">Holy Paladin</span> using
							<img src="/images/icons/inv_spark_whole_orange (1).jpg" alt="Spark Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=230906/spark-of-fortunes" target="_blank" rel="noopener noreferrer" class="item epic">
								Spark of Fortunes
							</a>:
						</p>

						<ol class="crafting-order-list">
							<li>
								<strong>
									Craft
									<img src="/images/itemIcons/inv_sword_1h_arathor_c_01.jpg" alt="Hexsword Icon" class="item-icon">
									<a href="https://www.wowhead.com/item=222444/charged-hexsword?bonus=12040:1515" target="_blank" class="item epic">
										Charged Hexsword
									</a> with
									<img src="/images/itemIcons/DarkmoonSigilAscension.jpg" alt="Ascension Icon" class="item-icon">
									<a href="https://www.wowhead.com/item=226024/darkmoon-sigil-ascension" target="_blank" class="item rare">
										Darkmoon Sigil: Ascension
										<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
									</a>
								</strong>
								<div class="list-indent">
									Weapons are always a great option to craft if you haven't gotten a high item level one already.
									<img src="/images/itemIcons/DarkmoonSigilAscension.jpg" alt="Ascension Icon" class="item-icon">
									<a href="https://www.wowhead.com/item=226024/darkmoon-sigil-ascension" target="_blank" class="item rare">
										Darkmoon Sigil: Ascension								<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
									</a>
									is the best Embellishment to put on your crafted weapon.
								</div>
							</li>

							<li>
								<strong>
									Shield or any Plate item with
									<img src="/images/itemIcons/inv_10_skinning_craftedoptionalreagent_studdedleatherswatch_color2.jpg" alt="Writhing Armor Banding Icon" class="item-icon">
									<a href="https://www.wowhead.com/item=219506/writhing-armor-banding" target="_blank" class="item rare">
										Writhing Armor Banding
										<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
									</a>
								</strong>
								<div class="list-indent">
									<img src="/images/itemIcons/DarkmoonSigilAscension.jpg" alt="Ascension Icon" class="item-icon">
									<a href="https://www.wowhead.com/item=226024/darkmoon-sigil-ascension" target="_blank" class="item epic">Darkmoon Sigil: Ascension</a>
									is a Nerubian Embellishment, meaning that it gets doubled by
									<img src="/images/itemIcons/inv_10_skinning_craftedoptionalreagent_studdedleatherswatch_color2.jpg" alt="Writhing Icon" class="item-icon">
									<a href="https://www.wowhead.com/item=219506/writhing-armor-banding" target="_blank" class="item epic">Writhing Armor Banding</a>.
									It is recommended you craft this in a slot that will not be replaced. I recommend Bracers, Boots, or Belt for this purpose.
								</div>
							</li>

							<li>
								<strong>Fill low item level slots</strong>
								<div class="list-indent">
									For further crafts, you should simply focus on filling your low item level slots.
									Remember to keep your tier set slots clear if you don't already have your 4-set.
								</div>
							</li>
						</ol>

						<p style="margin-top: 10px;">
							<strong>Note:</strong> While crafting a weapon is a great idea early on for the biggest immediate boost, your eventual goal will be to pick up
							<img src="/images/itemIcons/BigEarner'sBludgeon.png" alt="Big Earner Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=228901/big-earners-bludgeon" target="_blank" class="item epic">Big Earner’s Bludgeon</a> and
							<img src="/images/itemIcons/TitanOfIndustry.png" alt="Titan Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=228889/titan-of-industry" target="_blank" class="item epic">Titan of Industry</a>
							as your BiS weapon setup. Once you are able to obtain these items, you should craft two armor pieces with
							<img src="/images/itemIcons/inv_10_tailoring_tailoringconsumable_color2.jpg" alt="Dawnthread Icon" class="item-icon">
							<a href="https://www.wowhead.com/item=222870/dawnthread-lining" target="_blank" class="item rare">
								Dawnthread Lining								<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
							</a> on them.
						</p>
					</section>

					<section>
						<h3 class="section-title">
							<img src="/images/icons/inv_10_inscription2_repcontracts_scroll_02_uprez_color2.jpg" alt="Missives Icon" class="section-icon small-icon">
							Missives
						</h3>


						<ul style="list-style: none; padding-left: 0;">
							<li style="margin-bottom: 10px;">
								<img src="/images/icons/inv_10_inscription2_repcontracts_scroll_02_uprez_color2.jpg" alt="Feverflare Icon" class="item-icon" />
								<a href="https://www.wowhead.com/item=222584/algari-missive-of-the-feverflare"
								   target="_blank"
								   rel="noopener noreferrer"
								   class="item uncommon">
									Algari Missive of the Feverflare
									<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
								</a>
								– <span>(Haste + Mastery)</span> – Recommended for crafting raid gear.
							</li>
							<li>
								<img src="/images/icons/inv_10_inscription2_repcontracts_scroll_02_uprez_color2.jpg" alt="Fireflash Icon" class="item-icon" />
								<a href="https://www.wowhead.com/item=222587/algari-missive-of-the-fireflash"
								   target="_blank"
								   rel="noopener noreferrer"
								   class="item uncommon">
									Algari Missive of the Fireflash
									<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
								</a>
								– <span>(Haste + Crit)</span> – Recommended for Mythic+ crafting.
							</li>
						</ul>
					</section>

					<section id="crafted-gear">
						<h3 class="section-title">
							<img src="/images/icons/inv_10_tailoring_silkrare_color1.jpg" alt="Embellishment Icon" class="section-icon small-icon">
							Best Embellishments
						</h3>


						<p>
							Embellishment effects are quite minor and unimpactful, which is why they are mostly considered a cherry on top. They are limited to two, so putting one on for your early crafts is free added performance. Details about the best options are provided below.
						</p>

						<ol style="list-style-position: outside; padding-left: 1.2em;">
							<li>
								<img src="/images/itemIcons/DarkmoonSigilAscension.jpg" alt="Darkmoon Sigil Icon" class="item-icon" />
								<a href="https://www.wowhead.com/item=226024/darkmoon-sigil-ascension"
								   target="_blank"
								   rel="noopener noreferrer"
								   class="item rare">
									Darkmoon Sigil: Ascension
									<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
								</a>
								<p>
									This Embellishment takes a while to stack up, meaning that it will not be good until after 2 continuous minutes in combat. This can be a problem in dungeons, as it might fall off when running from pack to pack. In raids, it will also perform quite poorly if you need a lot of healing early on in a fight. While this might sound like a lot of negatives, none of the other Embellishments are any better, so a weapon with this hits two birds with one stone.
								</p>
							</li>

							<li>
								<img src="/images/itemIcons/inv_10_skinning_craftedoptionalreagent_studdedleatherswatch_color2.jpg" alt="Writhing Armor Banding Icon" class="item-icon" />
								<a href="https://www.wowhead.com/item=219506/writhing-armor-banding"
								   target="_blank"
								   rel="noopener noreferrer"
								   class="item rare">
									Writhing Armor Banding
									<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
								</a>
								<p>
									This Embellishment doubles the value of our best Embellishment, Darkmoon Sigil: Ascension. It should be crafted in a slot that will not be replaced by tier pieces.
								</p>
							</li>

							<li>
								<img src="/images/itemIcons/inv_10_tailoring_tailoringconsumable_color2.jpg" alt="Dawnthread Lining Icon" class="item-icon" />
								<a href="https://www.wowhead.com/item=222870/dawnthread-lining"
								   target="_blank"
								   rel="noopener noreferrer"
								   class="item rare">
									Dawnthread Lining
									<img src="/images/itemIcons/professions-chaticon-quality-tier3.png" alt="Item quality" class="item-icon" />
								</a>
								<p style="font-size: 16px; line-height: 1.6;">
									While raid drops are generally the most reliable way of getting high item level gear, many other items can be just as good, if not better,
									so you should reference the <strong>stat priorities for Holy Paladin</strong> to help determine your own BiS gear based on what is available to you.
									<img src="/images/icons/logo-64.svg" alt="Archon Icon" class="item-icon" />
									<a href="https://www.archon.gg/wow/builds/holy/paladin/mythic-plus/gear-and-tier-set/10/all-dungeons/this-week#gear-tables"
									   target="_blank"
									   rel="noopener noreferrer"
									   style="color:#cc99ff; text-decoration: none;">
										Archon
									</a> can be a helpful tool for seeing what alternative gear options exist if you can't get your hands on the best in slot.
								</p>

							</li>

						</ol>
					</section>
				</section>


			</div>
		</div>
	</div>
</body>

@*

<section id="season2">
    <h2>NEW Season 2 Changes</h2>

    <h2>Baseline Protection Paladin Spells</h2>
    <h3>Healing Abilities</h3>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
            "Word of Glory (WoG) - Calls down the light to heal you such that the heal amount is increased the lower your health is. Costs 3 Holy Power.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Flash of Light (FoL) - Quick-casting healing spell. Avoid using it while actively tanking due to cast time vulnerability.",
                        Model.SpellNames))
        </li>
    </ul>

    <h3>Offensive Abilities</h3>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Shield of the Righteous (SotR) - Slams enemies in front and increases armor. Core Holy Power spender.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Judgment (J) - Ranged Holy strike that generates 1 Holy Power.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Consecration - Creates a damaging and defensive zone under your feet. Maintain uptime.",
                        Model.SpellNames))
        </li>
    </ul>

    <h3>Defensive Cooldowns</h3>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Divine Shield (DS) - Complete immunity for 8 seconds. Causes Forbearance. Use a cancel macro in M+ or raids.",
                        Model.SpellNames))
        </li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
</div>
<section id="utility-abilities">
    <h2>Utility Abilities</h2>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Hammer of Justice (HoJ) - Stuns the target for 6 seconds. Can be used to interrupt or crowd control in dungeons.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Blessing of Freedom (BoF) - Removes snares and movement impairing effects. Great for self or teammates.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Blessing of Protection (BoP) - Grants physical immunity for 10 seconds. Can cause Forbearance.",
                        Model.SpellNames))
        </li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
</div>

<section id="passive-abilities">
    <h2>Passive Abilities</h2>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Grand Crusader - When you avoid a melee attack or use Judgment, you have a chance to reset Avenger’s Shield.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Redoubt - Each SotR increases Strength and Stamina for 10 sec, stacking up to 3 times.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Ardent Defender - Reduces damage taken by 20% and prevents death once while active.",
                        Model.SpellNames))
        </li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
</div>
<section id="hero-talents">
    <h2 class="hero-talents-title">Hero Talents</h2>

    <div class="content-columns">
        <div class="hero-talent-entry">
            <img src="~/images/Templar.jpg" alt="Templar" />
            <h2>Templar</h2>
            <ul>
                <li>Strong single-target and AoE healing.</li>
                <li>High personal survivability and mobility.</li>
                <li>Utility spells like <strong>Blessing of Freedom</strong>, <strong>Cleanse</strong>, <strong>Lay on Hands</strong>.</li>
            </ul>
        </div>
        <div class="hero-talent-entry">
            <img src="~/images/Lightsmith.jpg" alt="Lightsmith" />
            <h2>Lightsmith</h2>
            <ul>
                <li>Relies on good positioning and Holy Power usage.</li>
                <li>Fewer raid-wide cooldowns but strong personal buffs.</li>
            </ul>
        </div>
    </div>

    <h3>Templar Talents</h3>
    <h4>Key Talent</h4>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Light's Guidance - Grants Hammer of Light after Eye of Tyr. Hammer damages enemies and triggers Empyrean Hammer strikes.",
                        Model.SpellNames))
        </li>
    </ul>

    <h4>Capstone</h4>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Light's Deliverance - After 60 stacks from Empyrean Hammer, gain a free Hammer of Light if EoT and Hammer are on cooldown.",
                        Model.SpellNames))
        </li>
    </ul>

    <h4>Choice Nodes</h4>
    <h5>Node 1</h5>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Zealous Vindication - Hammer of Light calls down two additional Empyrean Hammers.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "For Whom the Bell Tolls - Divine Toll increases Judgment damage but scales down by target count.",
                        Model.SpellNames))
        </li>
    </ul>

    <h5>Node 2</h5>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Bonds of Fellowship - Reduces Blessing of Sacrifice damage and increases movement speed.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Unrelenting Charger - Divine Steed lasts longer and starts faster.",
                        Model.SpellNames))
        </li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
</div>
<section id="hero-talents-cont">
    <h5>Templar - Choice Node 3</h5>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Endless Wrath - Empyrean Hammer has a 10% chance to reset Hammer of Wrath cooldown.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Sanctification - Judgment increases Empyrean Hammer damage by 10%.",
                        Model.SpellNames))
        </li>
    </ul>

    <h4>Templar Passives</h4>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Shake the Heavens - Hammer of Light triggers Empyrean Hammer every 2 sec for 8 sec.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Wrathful Descent - Empyrean Hammer crits do splash damage and apply 5% damage reduction.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Sacrosanct Crusade - Eye of Tyr grants shield, Hammer of Light heals and over-heals become shields.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Higher Calling - Judgment, Hammer of Wrath, Blessed Hammer extend Shake the Heavens by 1s.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Hammerfall - SotR and WoG call down Empyrean Hammer. Double hammers if Shake is active.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Undisputed Ruling - Hammer of Light grants SotR, Consecration, and 12% Haste for 6s.",
                        Model.SpellNames))
        </li>
    </ul>

    <h3>Lightsmith Talents</h3>
    <h4>Key Talent</h4>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Holy Bulwark & Sacred Weapon - Alternating spell, 2 charges. Sacred Weapon damage counts as yours. Holy Bulwark scaling based on ally HP.",
                        Model.SpellNames))
        </li>
    </ul>

    <h4>Capstone</h4>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Blessing of the Forge - Avenging Wrath gives you and ally Sacred Weapon. Holy Power spenders echo damage.",
                        Model.SpellNames))
        </li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
</div>
<section id="lightsmith-talents">
    <h4>Lightsmith - Choice Nodes</h4>

    <h5>Node 1</h5>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Rite of Sanctification - Weapon enchant: +5% Armor, +2% Strength. Preferred for Lightsmith.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Rite of Adjuration - Weapon enchant: +3% Stamina, Holy Power spenders may heal nearby allies.",
                        Model.SpellNames))
        </li>
    </ul>

    <h5>Node 2</h5>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Divine Guidance - Spenders buff Consecration's next damage or healing. Stacks up to 5.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Blessed Assurance - Spenders boost Hammer of the Righteous/Blessed Hammer by 200%.",
                        Model.SpellNames))
        </li>
    </ul>

    <h5>Node 3</h5>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Divine Inspiration - Spells may grant Holy Bulwark/Sacred Weapon to nearby ally (0.65 PPM + Haste).",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Forewarning - Reduces cooldown of Holy Bulwark/Sacred Weapon by 20%.",
                        Model.SpellNames))
        </li>
    </ul>

    <h5>Node 4</h5>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Authoritative Rebuke - Interrupting reduces Rebuke cooldown by 1s. Doubled if holding Holy Armament.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Tempered in Battle - Overhealing converts or redistributes HP under 40%. 1 proc per cast.",
                        Model.SpellNames))
        </li>
    </ul>

    <h4>Lightsmith Passives</h4>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Solidarity - Casting Holy Armament on ally also buffs you and vice versa.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Laying Down Arms - Holy Armament fade reduces Lay on Hands cooldown by 15s and grants Shining Light.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Shared Resolve - Aura is 33% stronger for targets with Holy Armaments.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Valiance - Consuming Shining Light reduces Holy Armament recharge by 3s.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Hammer and Anvil - Judgment crits deal AoE Holy damage (uncapped below 20 targets).",
                        Model.SpellNames))
        </li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
</div>

<section id="class-talents">
    <h2>Paladin Class Talents</h2>

    <h3>Row 1 Talents</h3>
    <ul>
        <li>Lay on Hands - Full heal, causes Forbearance. Free baseline talent.</li>
        <li>Auras of the Resolute - Grants aura access. Free baseline talent.</li>
        <li>Devotion Aura - 3% damage reduction to allies within 40 yards. Default raid aura.</li>
        <li>Concentration Aura - Reduces silence/interrupts by 30%. PvP aura.</li>
        <li>Crusader Aura - 20% mounted speed bonus. Affects Divine Steed.</li>
        <li>Hammer of Wrath - Damage spell usable <20% HP or during Avenging Wrath. Generates 1 Holy Power.</li>
    </ul>

    <h3>Row 2 Talents</h3>
    <ul>
        <li>Cleanse Toxins - Removes Poison and Disease. 8s CD.</li>
        <li>Empyreal Ward - Lay on Hands grants 30% Armor and bypasses healing reductions.</li>
        <li>Fist of Justice - Reduces Hammer of Justice cooldown by 15s.</li>
        <li>
            Choice Node:
            <ul>
                <li>Repentance - Single-target CC. Breaks on damage. Limited to humanoids/demons/etc.</li>
                <li>Blinding Light - AoE blind. Interrupts caster mobs. Breaks on damage.</li>
                <li>Turn Evil - Fear undead/demons. Can cause unintended pulls.</li>
            </ul>
        </li>
    </ul>

    <h3>Row 3 Talents</h3>
    <ul>
        <li>A Just Reward - Cleanse heals for 300% Spell Power.</li>
        <li>Afterimage - Every 20 Holy Power, next WoG splashes for 30%. (Doesn't work with free WoG casts.)</li>
        <li>Divine Steed - 5s movement speed burst. Free baseline talent.</li>
        <li>Light's Countenance - Reduces Repentance/Blinding Light cooldown by 15s.</li>
        <li>Greater Judgment - Increases next spender's damage by 40% on Judgment target. Stacks independently.</li>
        <li>
            Choice Node:
            <ul>
                <li>Wrench Evil - Makes Turn Evil instant cast.</li>
                <li>Stand Against Evil - Turn Evil affects up to 5 targets.</li>
            </ul>
        </li>
    </ul>
</section>
<section id="class-talents-cont">
    <h3>Row 4 Talents</h3>
    <ul>
        <li>Rebuke - 15s interrupt, melee range. Important in M+.</li>
        <li>Greater Judgment - Judgment causes next spender to deal 40% more damage.</li>
        <li>Obduracy - +4% Speed and Avoidance. Small but useful passive.</li>
        <li>Judgment of Light - Applies heal to attackers. Weak but passive group heal.</li>
        <li>Unbreakable Spirit - Reduces cooldown of Divine Shield, Lay on Hands, and Shield of Vengeance by 30%.</li>
    </ul>

    <h3>Row 5–10 Summary</h3>
    <p>These rows focus on throughput, movement, and cooldown support. Some highlights:</p>
    <ul>
        <li>Improved Cleanse Toxins - Adds Magic dispel (important in raid).</li>
        <li>Seal of Mercy - WoG applies HoT.</li>
        <li>Seal of Might - Mastery + Strength for 15s after casting Blessing of Freedom.</li>
        <li>Divine Purpose - 15% chance for Holy Power spender to be free and duplicate.</li>
        <li>Recompense - When target with Blessing of Sacrifice takes damage, gain extra damage/healing next cast.</li>
        <li>Sanctified Plates - +20% Armor and 10% AoE damage reduction.</li>
        <li>Seal of Alacrity - +2% Haste. Stacks nicely.</li>
        <li>Seal of the Templar - +10% damage to Avenger's Shield and Judgment, +15% Divine Steed duration.</li>
        <li>Crusader's Reprieve - +3 yards range to Judgment and auto-attacks. +2% max HP.</li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D3.png" alt="Separator" class="separator" />
</div>

<section id="spec-talents">
    <h2>Protection Spec Talents</h2>

    <h3>Key Talents</h3>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Avenger’s Shield - Ranged interrupt. Generates Holy Power. Applies Silence.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Shield of the Righteous - Spender. Increases Armor and deals frontal AoE damage.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Consecration - Area effect. Standing in it reduces incoming damage. Must be maintained.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Hammer of the Righteous - Holy Power generator. Replaced by Blessed Hammer if talented.",
                        Model.SpellNames))
        </li>
    </ul>

    <h3>Important Defensives</h3>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Ardent Defender - Reduces damage taken by 20%. Saves you from death once while active.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Guardian of Ancient Kings - 50% damage reduction for 8s. Best external CD.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Divine Shield - Complete immunity. Causes Forbearance.",
                        Model.SpellNames))
        </li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D4.png" alt="Separator" class="separator" />
</div>
<section id="advanced-protection-talents">
    <h3>Advanced Protection Options</h3>
    <ul>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Redoubt - SotR increases Strength and Stamina by 2%, stacking 3x.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Bulwark of Order - Avenger’s Shield grants 3% max HP shield per target hit.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Shining Light - Free Word of Glory after 5 Holy Power spent.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Moment of Glory - AoE taunt and shield absorption boost. Use during heavy AoE pulls.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Bastion of Light - Restores 3 charges of Shield of the Righteous.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Unbreakable Will - Reduces duration of Stun, Fear, and Silence effects by 30%.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Punishment - Causes Hammer of the Righteous to cast Judgment when interrupting enemies.",
                        Model.SpellNames))
        </li>
        <li>
            @Html.Raw(Model.SpellBook.HighlightSpells(
                        "Final Stand - Divine Shield taunts all enemies for its duration.",
                        Model.SpellNames))
        </li>
    </ul>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D2.png" alt="Separator" class="separator" />
</div>

<section id="final-notes">
    <h2>Conclusion</h2>
    <p>Protection Paladin offers one of the most reactive and defensive tank kits in the game. Mastering your Holy Power generation, managing Shield of the Righteous uptime, and using cooldowns proactively are key to dominating in both Mythic+ and raid environments.</p>
</section>

<div class="separator-container">
    <img src="~/images/Separators/D5.png" alt="Separator" class="separator" />
</div>

@section Scripts {
    <script>
        // Optional: tooltip logic or integrations (e.g., Wowhead tooltips)
    </script>
}


*@